name: deploy-PolyFestival-Back-Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Copy file to VPS
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H lovelace.axithem.fr >> ~/.ssh/known_hosts
          ssh max@lovelace.axithem.fr 'cd /home/max/polyfestival/dev/polyfestival.back && docker compose -f docker-compose.dev.yml down && git pull'
      
      - name: Deploy on VPS
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H lovelace.axithem.fr >> ~/.ssh/known_hosts
          ssh max@lovelace.axithem.fr 'cd /home/max/polyfestival/dev/polyfestival.back && docker-compose -f docker-compose.dev.yml up -d --build'